In [19]:
import pandas as pd
df = pd.read_csv("data/application_record.csv")

In [16]:
mode_value = df['OCCUPATION_TYPE'].mode()[0]

# Replace missing values with the mode
df['OCCUPATION_TYPE'].fillna(mode_value, inplace=True)

# Verify that missing values have been filled
print(df['OCCUPATION_TYPE'].isnull().sum())  # Should print 0 if all missing values are replaced
print (df)

0
             ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0       5008804           M            Y               Y             0
1       5008805           M            Y               Y             0
2       5008806           M            Y               Y             0
3       5008808           F            N               Y             0
4       5008809           F            N               Y             0
...         ...         ...          ...             ...           ...
438552  6840104           M            N               Y             0
438553  6840222           F            N               N             0
438554  6841878           F            N               N             0
438555  6842765           F            N               Y             0
438556  6842885           F            N               Y             0

        AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0               427500.0               Working               Higher education
1               427500.0               Working               Higher education
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
4               270000.0  Commercial associate  Secondary / secondary special
...                  ...                   ...                            ...
438552          135000.0             Pensioner  Secondary / secondary special
438553          103500.0               Working  Secondary / secondary special
438554           54000.0  Commercial associate               Higher education
438555           72000.0             Pensioner  Secondary / secondary special
438556          121500.0               Working  Secondary / secondary special

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0             Civil marriage   Rented apartment      -12005          -4542
1             Civil marriage   Rented apartment      -12005          -4542
2                    Married  House / apartment      -21474          -1134
3       Single / not married  House / apartment      -19110          -3051
4       Single / not married  House / apartment      -19110          -3051
...                      ...                ...         ...            ...
438552             Separated  House / apartment      -22717         365243
438553  Single / not married  House / apartment      -15939          -3007
438554  Single / not married       With parents       -8169           -372
438555               Married  House / apartment      -21673         365243
438556               Married  House / apartment      -18858          -1201

        FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0                1                1           0           0        Laborers
1                1                1           0           0        Laborers
2                1                0           0           0  Security staff
3                1                0           1           1     Sales staff
4                1                0           1           1     Sales staff
...            ...              ...         ...         ...             ...
438552           1                0           0           0        Laborers
438553           1                0           0           0        Laborers
438554           1                1           0           0     Sales staff
438555           1                0           0           0        Laborers
438556           1                0           1           0     Sales staff

        CNT_FAM_MEMBERS
0                   2.0
1                   2.0
2                   2.0
3                   1.0
4                   1.0
...                 ...
438552              1.0
438553              1.0
438554              1.0
438555              2.0
438556              2.0

[438557 rows x 18 columns]

In [21]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Load dataset
# Filter rows with duplicated IDs
duplicated_ids = df[df.duplicated(subset=["ID"], keep=False)]
df = df.groupby('ID').apply(lambda x: x.mode().iloc[0]).reset_index(drop=True)

print(df)

0              ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0       5008804.0           M            Y               Y           0.0
1       5008805.0           M            Y               Y           0.0
2       5008806.0           M            Y               Y           0.0
3       5008808.0           F            N               Y           0.0
4       5008809.0           F            N               Y           0.0
...           ...         ...          ...             ...           ...
438505  7999660.0           F            N               N           0.0
438506  7999696.0           F            N               Y           2.0
438507  7999738.0           M            N               Y           0.0
438508  7999784.0           F            Y               Y           1.0
438509  7999952.0           F            N               Y           1.0

0       AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0               427500.0               Working               Higher education
1               427500.0               Working               Higher education
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
4               270000.0  Commercial associate  Secondary / secondary special
...                  ...                   ...                            ...
438505           90000.0         State servant               Higher education
438506          135000.0         State servant  Secondary / secondary special
438507          180000.0               Working  Secondary / secondary special
438508          180000.0  Commercial associate  Secondary / secondary special
438509          157500.0         State servant               Higher education

0         NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0             Civil marriage   Rented apartment      -12005          -4542
1             Civil marriage   Rented apartment      -12005          -4542
2                    Married  House / apartment      -21474          -1134
3       Single / not married  House / apartment      -19110          -3051
4       Single / not married  House / apartment      -19110          -3051
...                      ...                ...         ...            ...
438505  Single / not married  House / apartment      -13432          -5446
438506               Married  House / apartment      -12576          -4382
438507               Married  House / apartment       -9970           -119
438508               Married  House / apartment      -10630           -454
438509               Married  House / apartment      -15859          -3679

0       FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0              1.0              1.0         0.0         0.0             NaN
1              1.0              1.0         0.0         0.0             NaN
2              1.0              0.0         0.0         0.0  Security staff
3              1.0              0.0         1.0         1.0     Sales staff
4              1.0              0.0         1.0         1.0     Sales staff
...            ...              ...         ...         ...             ...
438505         1.0              0.0         0.0         0.0      Core staff
438506         1.0              0.0         0.0         0.0  Medicine staff
438507         1.0              0.0         0.0         0.0             NaN
438508         1.0              0.0         0.0         0.0             NaN
438509         1.0              0.0         0.0         0.0      Core staff

0       CNT_FAM_MEMBERS
0                   2.0
1                   2.0
2                   2.0
3                   1.0
4                   1.0
...                 ...
438505              1.0
438506              4.0
438507              2.0
438508              3.0
438509              3.0

[438510 rows x 18 columns]

/var/folders/q_/ffbdvtfx16s23l4197jvl3vh0000gn/T/ipykernel_13080/702179085.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby('ID').apply(lambda x: x.mode().iloc[0]).reset_index(drop=True)