In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer

# PREPROCESSING HAYA

first dataset

In [50]:
df = pd.read_csv('data/application_record.csv')

print('Data Head')
df.head()  # First few rows

Data Head

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [14]:
print('Data Tail')
df.tail()

Data Tail

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [15]:
print('Data Information')
df.info()

Data Information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

In [16]:
print(f"Dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")

Dataset contains 438557 rows and 18 columns.

In [17]:
df.describe(include = "object")

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE
count,438557,438557,438557,438557,438557,438557,438557,304354
unique,2,2,2,5,5,5,6,18
top,F,N,Y,Working,Secondary / secondary special,Married,House / apartment,Laborers
freq,294440,275459,304074,226104,301821,299828,393831,78240

In [18]:
for col in df.select_dtypes(include='object').columns:
    print(f"Value counts for {col}:\n{df[col].value_counts()}\n")

Value counts for CODE_GENDER:
CODE_GENDER
F    294440
M    144117
Name: count, dtype: int64

Value counts for FLAG_OWN_CAR:
FLAG_OWN_CAR
N    275459
Y    163098
Name: count, dtype: int64

Value counts for FLAG_OWN_REALTY:
FLAG_OWN_REALTY
Y    304074
N    134483
Name: count, dtype: int64

Value counts for NAME_INCOME_TYPE:
NAME_INCOME_TYPE
Working                 226104
Commercial associate    100757
Pensioner                75493
State servant            36186
Student                     17
Name: count, dtype: int64

Value counts for NAME_EDUCATION_TYPE:
NAME_EDUCATION_TYPE
Secondary / secondary special    301821
Higher education                 117522
Incomplete higher                 14851
Lower secondary                    4051
Academic degree                     312
Name: count, dtype: int64

Value counts for NAME_FAMILY_STATUS:
NAME_FAMILY_STATUS
Married                 299828
Single / not married     55271
Civil marriage           36532
Separated                27251
Widow                    19675
Name: count, dtype: int64

Value counts for NAME_HOUSING_TYPE:
NAME_HOUSING_TYPE
House / apartment      393831
With parents            19077
Municipal apartment     14214
Rented apartment         5974
Office apartment         3922
Co-op apartment          1539
Name: count, dtype: int64

Value counts for OCCUPATION_TYPE:
OCCUPATION_TYPE
Laborers                 78240
Core staff               43007
Sales staff              41098
Managers                 35487
Drivers                  26090
High skill tech staff    17289
Accountants              15985
Medicine staff           13520
Cooking staff             8076
Security staff            7993
Cleaning staff            5845
Private service staff     3456
Low-skill Laborers        2140
Secretaries               2044
Waiters/barmen staff      1665
Realty agents             1041
HR staff                   774
IT staff                   604
Name: count, dtype: int64

In [21]:
# Check relationships between variables using scatter plot
numeric_columns = df.select_dtypes(include = "number").columns
# Check if 'Application Record' is in numeric_columns before dropping
if 'Application Record' in numeric_columns:
    numeric_columns = numeric_columns.drop('Application Record')
print(numeric_columns)
print(df.shape)

Index(['ID', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'CNT_FAM_MEMBERS'],
      dtype='object')
(438557, 18)

In [22]:
# Check for missing values:
df.isnull().sum() #30%

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
dtype: int64

In [55]:
# Get all rows with duplicate IDs
duplicate_sample = df[df['ID'].duplicated(keep=False)]

# Count the total number of rows with duplicate IDs
total_duplicates = len(duplicate_sample)

# Calculate the percentage of duplicate records
percentage_duplicates = (total_duplicates / len(df)) * 100

# Group by ID and explicitly exclude the grouping column for conflict detection
conflicts = (
    duplicate_sample.groupby('ID', group_keys=False)
    .apply(lambda group: group['CODE_GENDER'].nunique() > 1)
)
conflicting_ids = conflicts[conflicts].index.tolist()

# Output results
print(f"Number of duplicate rows: {df.duplicated().sum()}")
print(f"Total duplicate ID rows: {total_duplicates}")
print(f"Percentage of duplicate rows: {percentage_duplicates:.2f}%")
print(f"Number of conflicting IDs: {len(conflicting_ids)}")
print(f"Conflicting IDs: {conflicting_ids[:26]} (showing first 10)")

Number of duplicate rows: 0
Total duplicate ID rows: 94
Percentage of duplicate rows: 0.02%
Number of conflicting IDs: 26
Conflicting IDs: [7022197, 7022327, 7023108, 7023651, 7024111, 7045885, 7091721, 7137299, 7154598, 7154819, 7243768, 7317997, 7416167, 7576316, 7602432, 7603224, 7618285, 7636389, 7742298, 7742853, 7743418, 7744386, 7833087, 7836711, 7836971, 7838075] (showing first 10)

/var/folders/q_/ffbdvtfx16s23l4197jvl3vh0000gn/T/ipykernel_9167/3934967248.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda group: group['CODE_GENDER'].nunique() > 1)

In [56]:
def count_repeats(column):
    return column.mode().iloc[0]  # Gets the most frequent value (mode)

# Group by ID and aggregate each column
result = df.groupby('ID').agg(lambda x: x.mode().iloc[0] if x.dtype == 'O' else x.mean()).reset_index()

# Display the final result
print(result)

IndexError: single positional indexer is out-of-bounds

In [44]:
if "OCCUPATION_TYPE" in df.columns:
    df["OCCUPATION_TYPE"].fillna("Unknown", inplace=True)

Empty DataFrame
Columns: [ID, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, DAYS_BIRTH, DAYS_EMPLOYED, FLAG_MOBIL, FLAG_WORK_PHONE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS]
Index: []

In [37]:
import pandas as pd
print(pd.__version__)

0              ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0       5008804.0           M            Y               Y           0.0
1       5008805.0           M            Y               Y           0.0
2       5008806.0           M            Y               Y           0.0
3       5008808.0           F            N               Y           0.0
4       5008809.0           F            N               Y           0.0
...           ...         ...          ...             ...           ...
438505  7999660.0           F            N               N           0.0
438506  7999696.0           F            N               Y           2.0
438507  7999738.0           M            N               Y           0.0
438508  7999784.0           F            Y               Y           1.0
438509  7999952.0           F            N               Y           1.0

0       AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0               427500.0               Working               Higher education
1               427500.0               Working               Higher education
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
4               270000.0  Commercial associate  Secondary / secondary special
...                  ...                   ...                            ...
438505           90000.0         State servant               Higher education
438506          135000.0         State servant  Secondary / secondary special
438507          180000.0               Working  Secondary / secondary special
438508          180000.0  Commercial associate  Secondary / secondary special
438509          157500.0         State servant               Higher education

0         NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0             Civil marriage   Rented apartment    -12005.0        -4542.0
1             Civil marriage   Rented apartment    -12005.0        -4542.0
2                    Married  House / apartment    -21474.0        -1134.0
3       Single / not married  House / apartment    -19110.0        -3051.0
4       Single / not married  House / apartment    -19110.0        -3051.0
...                      ...                ...         ...            ...
438505  Single / not married  House / apartment    -13432.0        -5446.0
438506               Married  House / apartment    -12576.0        -4382.0
438507               Married  House / apartment     -9970.0         -119.0
438508               Married  House / apartment    -10630.0         -454.0
438509               Married  House / apartment    -15859.0        -3679.0

0       FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0              1.0              1.0         0.0         0.0         Unknown
1              1.0              1.0         0.0         0.0         Unknown
2              1.0              0.0         0.0         0.0  Security staff
3              1.0              0.0         1.0         1.0     Sales staff
4              1.0              0.0         1.0         1.0     Sales staff
...            ...              ...         ...         ...             ...
438505         1.0              0.0         0.0         0.0      Core staff
438506         1.0              0.0         0.0         0.0  Medicine staff
438507         1.0              0.0         0.0         0.0         Unknown
438508         1.0              0.0         0.0         0.0         Unknown
438509         1.0              0.0         0.0         0.0      Core staff

0       CNT_FAM_MEMBERS
0                   2.0
1                   2.0
2                   2.0
3                   1.0
4                   1.0
...                 ...
438505              1.0
438506              4.0
438507              2.0
438508              3.0
438509              3.0

[438510 rows x 18 columns]

In [ ]:
1

In [ ]:
1

In [ ]:
1

In [ ]:
1

In [ ]:
1

In [ ]:
1

# PREPROCESSING JANA
second dataset